ol {
    background-color: yellow;
}

li.par {
    color: green;
}

li.impar {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1#italica {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li.italica {
    font-weight: bold;
}

li.primeiros3 {
    color: blue;
}

li.java {
    background-color: pink;
}

ul#aliados {
    font-weight: bold;
}

li#orange:hover {
    color: orange;
}

li#green:hover {
    color: green;
}

li#black:hover {
    color: black;
}

li#yellow:hover {
    color: yellow;
}