div:hover {
    border: 5px solid black;
}

.primaria {
    color: red;
    font-style: italic;
}

#primaria {
    font-size: 40px;
}

.secundaria {
    color: orange;
}

#secundaria {
    font-size: 35px;
}

.complementar {
    color: orangered;
}

#complementar {
    font-size: 30px;
    font-style: italic;
}

.escura {
    color: darkgreen;
}

#escura {
    font-size: 25px;
}

.clara {
    color: cyan;
}

#clara {
    font-size: 20px;
    font-style: italic;
}